In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [7]:
df = pd.read_csv("D:\python\pm.csv")
df

,No,year,month,day,hour,pm,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,0.0,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,0.0,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,0.0,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,0.0,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,0.0,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [15]:
dfe=df.replace(to_replace="Na",value=0)
ds=dfe.replace(to_replace=np.NaN,value=0)
ds

,No,year,month,day,hour,pm,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,0.0,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,0.0,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,0.0,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,0.0,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,0.0,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [21]:
reg =linear_model.LinearRegression()
reg.fit(ds[['DEWP','TEMP','PRES','Iws']],ds.pm)

LinearRegression()

In [22]:
reg.coef_

array([ 3.8403373 , -5.65086347, -1.5239734 , -0.25860116])

In [37]:
reg.intercept_

1712.5450357087996

In [38]:
a=float(input("Enter the DEW POINT="))
b=float(input("Enter the TEMPERATURE="))
c=float(input("Enter the PRESSURE="))
d=float(input("Enter the WIND SPEED="))

Enter the DEW POINT=-21
Enter the TEMPERATURE=-3.0
Enter the PRESSURE=1034.0
Enter the WIND SPEED=249.85

In [39]:
pm=reg.predict([[a,b,c,d]])

In [40]:
print('pm2.5=',pm)

pm2.5= [8.45054442]